{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Welcome back, {{ user.email }}.</h4>
          <p class="card-text">Quick links to your entertainment.</p>
          <a class="btn btn-outline-primary me-2" href="{{ url_for('music_page') }}">Browse music</a>
          <a class="btn btn-outline-secondary me-2" href="{{ url_for('videos_page') }}">Browse videos</a>
          <a class="btn btn-outline-success" href="{{ url_for('games_page') }}">Play games</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


